@model MovieViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><i class="fa-solid fa-clapperboard"></i> @(Model.Id > 0 ? "Edit": "Create") Movie</h1>
<hr />
<section>
    <div class="row">
        <div class="col-md4">
            <form method="post" asp-action="@(Model.Id > 0 ? "Edit" : "Create")" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id"/>
                <div class="form-group">
                    <label asp-for="Title" class="text-muted"></label>
                    <input type="text" class="form-control" asp-for="Title" maxlength="250" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GenreId" class="text-muted"></label>
                    <select class="form-control" asp-for="GenreId" asp-items="@(new SelectList(Model.genres, "GenreId", "Name"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="Year" class="text-muted"></label>
                    <input type="datetime" class="form-control" asp-for="Year" 
                           value="@(Model.Year > 0 ? Model.Year : string.Empty)"/>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div> 
                <div class="form-group ">
                    <label asp-for="Rate" class="text-muted"></label>
                    <input type="number" class="form-control" asp-for="Rate"
                           value="@(Model.Rate > 0 ? Model.Rate : string.Empty)"/>
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label asp-for="StoreLine" class="text-muted"></label>
                    <textarea style="resize:none;" class="form-control" asp-for="StoreLine" maxlength="2500" rows="5"  ></textarea>
                    <span asp-validation-for="StoreLine" class="text-danger"></span>
                </div>
                <div class="custom-file">

                    <input style="overflow-x:hidden" type="file" class="custom-file-input" asp-for="Poster" accept="image/*"/>
                    <label asp-for="Poster" class="text-muted custom-file-label"></label>
                    <span asp-validation-for="Poster" class="text-danger"></span>
                </div>
                <div id="Poster-Container" class="@(Model.Id > 0 ? string.Empty : "d-none") mt-1">
                    <img src=
                    "@(Model.Id > 0 ? $"data:image/*;base64,{Convert.ToBase64String(Model.Poster)}" : string.Empty)"
                    class="img-thumbnail" style="width:100px;height:80px;" alt="error" />
                </div>
                <button class="btn btn-primary mt-4" type="submit"><i class="fa-solid fa-check"></i> Save</button>
                <a asp-action="Index" class="btn btn-outline-primary mt-4"><i class="fa-solid fa-angle-left"></i> Back</a>
            </form>
        </div>
    </div>
</section>
@section Scripts{ 
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('#Poster').on('change', function () {
            var selectedValue = $(this).val().split('\\').pop();
            $(this).siblings('label').text(selectedValue);

            var PosterContainer = $('#Poster-Container');
            var image = window.URL.createObjectURL(this.files[0])
            PosterContainer.removeClass('d-none');
            PosterContainer.find('img').attr('src', image);
        });
        $('#Year').datepicker({
            format: 'yyyy',
            viewMode: 'years',
            minViewMode: 'years',
            autoclose: true,
            startDate: new Date('1950-01-01'),
            endDate: new Date()
        });
    });
</script>
}